
.todo-list {
    font-size: xx-large;
    display: grid;
    margin: 3px;
  }

  
.uncheck {
    margin-right: 10px;
    background-color: white;
    border: 1px solid #666;
    border-radius: 100%;
    display: inline-block;
  
    position: relative;
    width: 32px;
    height: 32px;
    left: 0;
  }
  
.check::after {
    margin-right: 10px;
    content: '✔';
    border: 1px solid #666;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
  }