body {
  
  display: flex;
  width: 100%;
  justify-content: center;

}

.main {
  border-width:1;
  border-color: rgb(190,190,190);
  border-style: solid;
  background-color: white;
}

h3 {
  text-align: center;
}


.button_filter:hover {
  background:rgb(212, 241, 212);
  }
  
.button_filter:focus {
  background:rgb(180, 228, 236);
  }

input {
  width: 450px;
  font-size: xx-large;
  
}
.todo-list {
  font-size: xx-large;
  display: grid;
  margin: 3px;
}

.all-button {
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;

}

.clear {
  margin-left: 70px;
}

.itemsleft {
  margin-left: 10px;
}

.actived {
  display: inline-flex;
  margin-top: 10px;
  
}

.button_with_input {
  display: flex;
}


.button_change_status:after {
  content: "˅";
  text-align: center;
  font-size: 40px;
  border: 1px solid #666;
  display: inline-block;
  position: relative;
  width: 41px;
  height: 41px;
}

.completed {
  margin-top: 10px;
  display: inline-flex;
  text-decoration: line-through;
  color: gray;
}

.uncheck {
  margin-right: 10px;
  background-color: white;
  border: 1px solid #666;
  border-radius: 100%;
  display: inline-block;

  position: relative;
  width: 32px;
  height: 32px;
  left: 0;
}

.check::after {
  margin-right: 10px;
  content: '✔';
  border: 1px solid #666;
  border-radius: 100%;
  display: inline-block;

  position: relative;
  width: 32px;
  height: 32px;
  /* left: 0; */
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.3) */
}


.footer {
  margin-top: 10px;
  display: inline-flex;
}
